<phpunit bootstrap="tests/unit/phpunit/bootstrap.php"
         backupStaticAttributes="false"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="RSTGroup Statsd Module Tests">
            <directory>./tests/unit/phpunit</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="junit" target="tests/results/unit/phpunit.xml" logIncompleteSkipped="false" charset="UTF-8"/>
        <log type="coverage-clover" target="tests/results/unit/phpunit-clover.xml"/>
        <log type="coverage-html" target="tests/results/unit/phpunit-clover" charset="UTF-8" yui="true" highlight="false" />
    </logging>

    <filter>
        <blacklist>
            <directory>./vendor</directory>
            <directory>./tests</directory>
            <directory>./config</directory>
        </blacklist>
    </filter>
</phpunit>
