<phpunit bootstrap="vendor/autoload.php"
         backupStaticAttributes="false"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="RSTGroup Statsd Module Tests">
            <directory>./tests/unit/phpunit</directory>
        </testsuite>
    </testsuites>

    <filter>
        <blacklist>
            <directory>./vendor</directory>
            <directory>./tests</directory>
            <directory>./config</directory>
        </blacklist>
    </filter>
</phpunit>
